MP_CLIENT_ID=
MP_CLIENT_SECRET=
MP_REDIRECT_URI=https://api.comunaclic.cl/api/mercadopago/oauth/callback
MP_WEBHOOK_SECRET=
MP_API_BASE_URL=https://api.mercadopago.com
DATABASE_CONNECTION_STRING=Host=localhost;Port=5432;Database=comunaclic;Username=postgres;Password=postgres
APP_BASE_URL=https://app.comunaclic.cl
ENCRYPTION_KEY=
JWT__ISSUER=https://acl.comunaclic.cl
JWT__AUDIENCE=comunaclic-api
JWT__SIGNINGKEY=
